.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
  padding: 5px,
}
.hero-h1{
  color: white;
  font-weight: bold;
}

.hero-p{
  color: white;
}
.content-header{
  font-size: 20px;
  font-weight: bold;
  color: rgb(106, 106, 106);
  text-align: left;
}
.content-body{
  font-size: 16px;
  color:rgb(106, 106, 106);
  font-weight: lighter;
}
.content-body::after{
  padding-bottom: 2vh;
}
.site-name{
  padding-left: 1vh;
}
.form-content{
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 25px;
  width: 100%;
  padding: 2vw 5vw 2vw 5vw;
  outline-width: 2px;
}